@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

@import 'variables';

body {
    font-family: 'Inter Tight', sans-serif;
    color: $font-color;
}

button {
    font-family: 'Inter Tight', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 1.3125rem;
}