@import 'src/partials/globals',
        'src/partials/mixins',
        'src/partials/responsive',
        'src/partials/typography',
        'src/partials/variables';

.container {
    height: 25rem;
    width: 36.5rem;
    border: 2px solid #aaa;
    background: #111;
    border-radius: .625rem;
    padding: 1.25rem 1.87rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #palindrome-section {
        display: flex;
        flex-direction: column;
        #palindrome-user-input,
        #palindrome-check {
            height: 2.5rem;
            margin-bottom: .625rem;
            border-radius: .3125rem;
        }
        #palindrome-check {
            cursor: pointer;
            background: #ccc;
            @include cross-browser-support-transition-set;
            &:hover {
                background: #1e1e1e;
                color: #ccc;
                @include cross-browser-support-transition-set;
            }
        }
    }
}